body {
            font-family: sans-serif;
			margin: 1em 3em auto 3em;
        }
		label{
		float:left; width:20%;
		padding: 2px 20px;
		margin: 8px 0;
		font-weight: bold;
		}

		.form_input{
		float:left; width:70%; margin-left:10px;}
		input[type=text] {
		padding: 12px 20px;
		margin: 8px 0;
		border-radius: 8px;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
		width: 70%;
		}
		.header{
			padding: 2px 20px;
		}

		select{
			width: 100px;
			height: 30px;
			padding-left : 10px;

		}

