@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@charset "UTF-8";

.animated {
  -webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

.animated.hinges {
	-webkit-animation-duration: 2s;
	   -moz-animation-duration: 2s;
	     -o-animation-duration: 2s;
	        animation-duration: 2s;
}

.animated.slow {
	-webkit-animation-duration: 3s;
	   -moz-animation-duration: 3s;
	     -o-animation-duration: 3s;
	        animation-duration: 3s;
}

.animated.snail {
	-webkit-animation-duration: 4s;
	   -moz-animation-duration: 4s;
	     -o-animation-duration: 4s;
	        animation-duration: 4s;
}

@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
	0%, 100% {-moz-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
	0%, 100% {-o-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
}

.login .modal-dialog{
    width: 350px;
}
.login .modal-footer{
    border-top: 0;
    margin-top: 0px;
    padding: 10px 20px 20px;
}
.login .modal-header {
    border: 0 none;
    padding: 15px 15px 15px;
/*     padding: 11px 15px; */
}
.login .modal-body{
/*     background-color: #eeeeee; */
}
.login .division {
    float: none;
    margin: 0 auto 18px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}
.login .division .line {
    border-top: 1px solid #DFDFDF;
    position: absolute;
    top: 10px;
    width: 34%;
}
.login .division .line.l {
    left: 0;
}
.login .division .line.r {
    right: 0;
}
.login .division span {
    color: #424242;
    font-size: 17px;
}
.login .box .social {
    float: none;
    margin: 0 auto 30px;
    text-align: center;
}

.login .social .circle{
    background-color: #EEEEEE;
    color: #FFFFFF;
    border-radius: 100px;
    display: inline-block;
    margin: 0 17px;
    padding: 15px;
}
.login .social .circle .fa{
    font-size: 16px;
}
.login .social .facebook{
    background-color: #455CA8;
    color: #FFFFFF;
}
.login .social .google{
    background-color: #F74933;
}
.login .social .github{
    background-color: #403A3A;
}
.login .facebook:hover{
    background-color: #6E83CD;
}
.login .google:hover{
    background-color: #FF7566;
}
.login .github:hover{
    background-color: #4D4D4d;;
}
.login .forgot {
    color: #797979;
    margin-left: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.login .btn-login, .registerBox .btn-register{
    background-color: #00BBFF;
    border-color: #00BBFF;
    border-width: 0;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    padding: 15px 50px;
    text-transform: uppercase;
    width: 100%;
}
.login .btn-login:hover, .registerBox .btn-register:hover{
    background-color: #00A4E4;
    color: #FFFFFF;
}
.login .form-control{
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
    color: #FFFFFF;
}
.login .form-control:hover{
    background-color: rgba(0,0,0,.16);
}
.login .form-control:focus{
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
    background-color: rgba(0,0,0,0.23);
    color: #FFFFFF;
}
.login .box .form input[type="text"], .login .box .form input[type="password"] {
    border-radius: 3px;
    border: none;
    color: #333333;
    font-size: 16px;
    height: 46px;
    margin-bottom: 5px;
    padding: 13px 12px;
    width: 100%;
}


@media (max-width:400px){
    .login .modal-dialog{
        width: 100%;
    }
}

.big-login, .big-register{
    background-color: #00bbff;
    color: #FFFFFF;
    border-radius: 7px;
    border-width: 2px;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    padding: 16px 60px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.big-login:hover{
    background-color: #00A4E4;
    color: #FFFFFF;
}
.big-register{
    background-color: rgba(0,0,0,.0);
    color: #00bbff;
    border-color: #00bbff;
}
.big-register:hover{
    border-color: #00A4E4;
    color:  #00A4E4;
}

.header-login-signup{
	background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 0px 40px;
	height: 60px;
	color: #ffffff;
	box-sizing: border-box;
}

.header-login-signup .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-login-signup .header-limiter h1{
	float: left;
	font: normal 36px Cookie, Arial, Helvetica, sans-serif;
	line-height: 60px;
	margin: 0;
}

.header-login-signup .header-limiter h1 span {
	color: #5383d3;
}

/* The navigation links */

.header-login-signup .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-login-signup .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 20px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header-login-signup .header-limiter nav a{
	font-size: 18px;
	display: inline-block;
	padding: 0 5px;
	opacity: 0.9;
	text-decoration:none;
	line-height: 1;
}

.header-login-signup .header-limiter nav a:hover {
	opacity: 1;
}

.header-login-signup .header-limiter nav a.selected {
	color: #608bd2;
}

/* Login/Sign up buttons */

.header-login-signup .header-limiter ul {
	font: 14px Arial, Helvetica, sans-serif;
	list-style: none;
	line-height: 30px;
	float: right;
}

.header-login-signup .header-limiter ul li {
	display: inline-block;
	margin-left: 15px;
	opacity:0.9;
}

.header-login-signup .header-limiter ul li:hover{
	opacity: 1;
}

/* The sign up button */

.header-login-signup .header-limiter ul li:last-child a {
	font-weight: bold;
	background-color: #3a3c3e;
	padding: 10px 15px;
	border-radius: 3px;
}

/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-login-signup {
		padding: 25px;
		height: 60px;
	}

	.header-login-signup .header-limiter h1 {
		float: none;
		margin: -8px 0 2px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
    font-weight: bold;
    letter-spacing: 1.0px;
	}

	.header-login-signup .header-limiter nav {
		margin: 0;
		float: none;
	}

	.header-login-signup .header-limiter nav li a {
		font-size: 13px;
	}

	.header-login-signup .header-limiter ul {
		display: none;
	}

}
.category{
  border-radius: 0px 0px 15px 15px;
  color: #292c2f;
  padding-left: 48px;


}
/* For the headers to look good, be sure to reset the margin and padding of the body */

body {
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
  }

/** Drop Down menu**/
.dropbtn {
    background-color:#292c2f;
    color: white;
    font-size: 18px;
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
    height: 60px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {

    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
}

.header-login-signup .header-limiter nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #5c6166;
}

center h1{
  margin-top: 16px;
  margin-bottom: 0px;
  font-size: 32px;
}
 center h4 a, center h4 a:hover{
  color:#5383d3;
  width:49%;
  text-decoration: none;
}
center h4 a:hover{
  border-bottom: 1px dashed #71B559

}
hr{
  margin:20px 60px 0px 60px;
}

/** User Info **/

.user-container {
  font-family: sans-serif;
  text-align: center;
}
.user-container .stats {
  display: inline-block;
  margin-top: 70px;
}
.user-container .stats .item.linkkarma .num {
  color: #F5A76E;
}
.user-container .stats .item.commentkarma .num {
  color: #79AFC3;
}
.user-container .stats .item.slinks .num {
  color: #9DC79C;
}
.user-container .stats .item.scomments .num {
  color: #987994;
}
.user-container .stats .item.membertime .num {
  color: #C1B6A3;
}
.user-container .stats .item {
  height: 58px;
  float: left;
  margin-right: 70px;
}
.user-container .stats .item .num {
  float: left;
  text-align: right;
  font-size: 45px;
  line-height: 45px;
  font-weight: 400;
  margin-right: 20px;
}
.user-container .stats .item .desc {
  text-transform: capitalize;
  text-align: left;
  width: 100px;
  float: left;
  color: #a1a1a1;
  font-size: 20px;
}
.user-container .stats .item:last-child {
  margin-right: 0;
}

.user-container .user-contents .column .title {
    font-size: 35px;
    color: #cccccc;
    font-weight: 300;
    text-align: left;
}
.contents{
    text-align: left;
}

  /** Comment **/


  .comments-container {
    padding: 8px 16px 0px 20px;

  }
  .comments-container .comments-container {
	border-left: 1px solid #7eb57d;
  }
  
  .comments-container .comments-container .comments-container {
	border-left: 1px solid #ff9900;
  }
  .comments-container .comments-container .comments-container .comments-container {
	border-left: 1px solid #569ec9;
  }
  .comments-container .comments-container .comments-container .comments-container .comments-container {
	border-left: 1px solid #e5414d;
  }
  .comments-container .comments-container .comments-container .comments-container .comments-container .comments-container {
	border-left: 1px solid #774f73;
  }
  .comments-container .comment.level1 {
    margin-left: 0;
  }
  
  .comments-container .comment.level1 .cbox .tag {
    background-color: #7eb57d;
  }
  .comments-container .comments-container .comment.level1 .cbox .tag {
    background-color: #ff9900;
  }
  .comments-container .comments-container .comments-container .comment.level1 .cbox .tag {
    background-color: #569ec9;
  }
  .comments-container .comments-container .comments-container .comments-container .comment.level1 .cbox .tag {
    background-color: #e5414d;
  }
  .comments-container .comments-container .comments-container .comments-container .comments-container .comment.level1 .cbox .tag {
    background-color: #774f73;
  }
  
  .comments-container .comment.level1 .cbox .tag .plus {
    color: #7eb57d;
  }
  .comments-container .comment.level1 .cbox .info {
    background-color: rgba(126, 181, 125, 0.05);
  }
  .comments-container .comment.level1 .loadmore {
    display: inline-block;
    background-color: rgba(126, 181, 125, 0.05);
    border: 1px solid rgba(126, 181, 125, 0.9);
    color: #7eb57d;
    text-decoration: none;
    margin: 10px 0px 20px 10px;
    font-size: 13px;
    padding: 3px;
    box-sizing: border-box;
    font-weight: 700;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
    transition: opacity 0.2s;
  }
  .comments-container .comment.level1 .loadmore:hover {
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
  }
  .comments-container .comment.level1 .loadmore:active {
    transition: none;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }

  .comments-container .comment.ts > .cbox > .info > .name > a {
    color: #915430;
    font-weight: 700;
  }
  .comments-container .comment.own > .cbox > .info > .name > a {
    color: #376491;
    font-weight: 700;
  }
  .comments-container .comment {
    margin-left: 20px;
    box-sizing: border-box;
  }
  .comments-container .comment .cbox {
    position: relative;
    padding-left: 0px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  .comments-container .comment .cbox .tag {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 7px;
    position: absolute;
    height: 100%;
    background: #606060;
    cursor: pointer;
    transition: opacity 0.2s;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  .comments-container .comment .cbox .tag .plus {
    width: 12px;
    height: 12px;
    text-align: center;
    color: #000000;
    position: absolute;
    right: 12px;
    font-weight: 700;
  }
  .comments-container .comment .cbox .tag:hover {
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
  }
  .comments-container .comment .cbox .tag:active {
    transition: none;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  .comments-container .comment .cbox .info {
    float: left;
    width: 100%;
    padding: 3px 10px 3px 15px;
    box-sizing: border-box;
    background: #000000;
    font-size: 13px;
  }
  .comments-container .comment .cbox .info div {
    float: left;
  }
  .comments-container .comment .cbox .info div.extra {
    float: right;
    margin-left: 10px;
  }
  .comments-container .comment .cbox .info div.extra a {
    color: #559EC9;
    text-decoration: none;
  }
  .comments-container .comment .cbox .info div.extra a:hover {
    color: #457c9f;
    text-decoration: none;
  }
  .comments-container .comment .cbox .info .name {
    margin-right: 10px;
  }
  .comments-container .comment .cbox .info .name a {
    font-weight: 600;
    text-decoration: none;
    color: #000000;
  }
  .comments-container .comment .cbox .info .vote {
    width: 70px;
    display: inline;
    text-align: center;
  }
  .comments-container .comment .cbox .info .vote .votes {
    padding-left: 4px;
    text-align: center;
    margin-right: 4px;
    font-weight: 700;
    color: #666666;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
  }
  .comments-container .comment .cbox .info .vote .iconfont {
    color: #666666;
    cursor: pointer;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
  }
  .comments-container .comment .cbox .info .vote .iconfont:hover {
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
  }
  .comments-container .comment .cbox .info .vote .iconfont.red {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    color:red;
  }
   .comments-container .comment .cbox .info .vote .downvote .iconfont.red {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    color:blue;
  }

  .comments-container .comment .cbox .info .vote .upvote {
    margin-right: 4px;
  }
  .comments-container .comment .cbox .info .vote:hover .votes {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  .comments-container .comment .cbox .info .vote.upvoted .iconfont.upvote,
  .comments-container .comment .cbox .info .vote.upvoted .votes {
    color: #34BD28;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  .comments-container .comment .cbox .info .vote.downvoted .iconfont.downvote,
  .comments-container .comment .cbox .info .vote.downvoted .votes {
    color: #DB372B;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  .comments-container .comment .cbox .info .source-link {
    margin-left: 20px;
  }
  .comments-container .comment .cbox .info .source-link a {
    color: #549EC9;
  }
  .comments-container .comment .cbox .info .date {
    color: #999999;
  }

  .comments-container .comment .cbox .info .reply {
    float: right;
  }

  .comments-container .comment .cbox .info .reply a{
    color: #5383d3;
    padding-right: 8px;
    text-decoration: none;
  }

  .comments-container .comment .cbox .text {
    overflow: hidden;
    padding-left: 15px;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 14px;
  }
  .comments-container .comment .cbox .text a {
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    top: 3px;
    position: relative;
    color: #4c6d7d;
  }
  .comments-container .comment .cbox .send-comment {
    padding-left: 10px;
    box-sizing: border-box;
  }

  .upvote .red {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    color:red;
  }

   .downvote .red {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    color:blue;
  }
  .input-container{
	  padding-left:12px;
  }
  .tools{
	  text-align: right;
  }
  .button {
  margin-right:5px;
  padding: 3px 10px 3px 10px;
  color: #ffffff;
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
  transition: background 0.2s;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-weight: 600;
}

.button.orange {
    margin-top: 4px;
    background: #FF8822;
    border-width: 0px;
    padding: 3px 8px 3px 8px;
    border-radius: 6px;
}
.button.orange:hover {
    background: #ff5511;
}
.button.orange:active {
  background: #EC5F00;
  transition: none;
  outline: 0px;
}
  #root-send-comment{
	  width:759px;
  }

  /** New Post **/

  .newpost input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  }

  .newpost input[type=submit] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

  .newpost input[type=submit]:hover {
      background-color: #45a049;
  }

  .newpost div {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
  }
  .newpost label{
  float:left; width:30%;
  }

  .newpost input{
  float:left; width:60%; }

  .newpost{
  width: 30%;
  margin-left: 100px;
  padding: 50px 70px 70px 50px;}

  /** Post template **/

  body .card {
    width: 90%;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 12px;
    padding: 16px 12px 16px 12px;
    border: 1px solid #FFFFFf;
    overflow: auto;
    font-family: 'Open Sans', sans-serif;
  }

  body .card:hover{
    background: #e8ecf0;
    transition: 0.5s background;
  }

  body .card_left {
    width: 74px;
    float: left;
    overflow: hidden;
    background: transparent;
  }
  body .card_left img {
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    position: relative;
  }
  body .card_right {
    width: 80%;
    float: left;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    margin-left: 16px;
  }
  body .card_right a{
    text-decoration: none;
  }
  body .card_right h1 {
    color: black;
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0px;
    margin-bottom: 8px;
  }
  .card_right h1 a {
    color: #444;
  }

  body .card_right ul {
    list-style-type: none;
  }
  body .card_right ul li {
    display: inline;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
  }
  small
  {
  font-size: 13px;
  color: #666d74;
  text-decoration: none;
  transition: color 0.2s;

  }

  small  a{
    text-decoration: none;
    color: #003d80;
    font-weight: bold;
  }
  .card_right a{
    text-decoration: none;
  }
  .vote {
    display: inline-grid;
    width: 10px;
    height: 10px;
    border: 0px;
    margin: 3px;
  }

  .posts{
    margin: 32px 48px 32px 48px;
    padding-left: 16px;
  }
  .domain, .domain a {
    color:#888;
    font-size: 12px;
    font-style: italic;
    display: inline;
    text-decoration: underline;
  }

  small a.comment{
    color: #666d74;
  }
  small a div.vote {
    color: #666666;
    cursor: pointer;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
    margin-top: 3px;
  }
  small a div.vote:hover {
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
  }

  small a div.vote:active {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    color:red;
  }

  small a div.vote.red {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  
  
 /** Page control */
 
 
 .page-nav-wrap {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}
.page-nav-wrap .page-nav {
  display: inline-block;
}
.page-nav-wrap .page-nav .direction {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  transition: opacity 0.2s;
  cursor: pointer;
  float: left;
  margin-right: 60px;
}
.page-nav-wrap .page-nav .direction .icon {
  position: relative;
  left: 0px;
  transition: left 0.2s, right 0.2s;
}
.page-nav-wrap .page-nav .direction .label {
  transition: left 0.2s, right 0.2s;
  left: 0px;
  right: 0px;
  position: relative;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -3px;
  color: #C4D0DB;
}
.page-nav-wrap .page-nav .direction:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.page-nav-wrap .page-nav .direction:hover.next .label {
  left: -5px;
}
.page-nav-wrap .page-nav .direction:hover.next .icon {
  left: 5px;
}
.page-nav-wrap .page-nav .direction:hover.prev .label {
  left: 5px;
}
.page-nav-wrap .page-nav .direction:hover.prev .icon {
  left: -5px;
}
.page-nav-wrap .page-nav .direction:active {
  transition: none;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.page-nav-wrap .page-nav .direction:last-child {
  margin-right: 0px;
}
.page-nav-wrap .page-nav .prev {
  display: none;
}
.page-nav-wrap .page-nav .prev .label {
  float: left;
}
.page-nav-wrap .page-nav .prev .icon {
  float: left;
  margin-top:2px;
}
.page-nav-wrap .page-nav .next {
  display: none;
}
.page-nav-wrap .page-nav .next .label {
  float: right;
  margin-right: 5px;
}
.page-nav-wrap .page-nav .next .icon {
  float: right;
  margin-top:2px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 8%;
   background-color: #292c2f;
   color: white;
   text-align: center;
}

.footer p {
	padding-top: 13px;
}
